*{
  box-sizing: border-box;
}

html, body{
  height: 100%  /*to make footer in bottom*/
}

.page{
  min-height: 100vh;  /*to make footer in bottom*/
}

div[class^="col-"] {
  padding: 10px;
}

.header,
.footer{
  padding: 20px;
  background-color:lightsteelblue
}

.footer{
  text-align: center;
  margin-top: auto; /*to make footer in bottom*/
}

.header{
  height: 100px;
  font-family: 'Cinzel', serif;
  font-size: 50px;
}

.navBar{
  align-items: center;
  min-height:40px;
  padding:2px;
  background-color: rgb(211, 225, 239);
}

.navLink{
  text-decoration: none;
}